In [14]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import g_key

In [15]:
#load the csv file stored in the folder
city_data_df = pd.read_csv("output_data/cities.csv")
city_data_df.head()

,City_ID,Unnamed: 0,City,Lat,Long,Max Tem,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,0,Thompson,55.7435,55.7435,65.53,74,100,9.24,CA,1659114078
1,1,1,Putina,-15.4667,-15.4667,50.09,35,6,5.19,PE,1659114134
2,2,2,Sandanski,41.5667,41.5667,83.26,48,68,3.74,BG,1659114135
3,3,3,Bredasdorp,-34.5322,-34.5322,50.85,72,100,11.27,ZA,1659114135
4,4,4,Neryungri,56.6709,56.6709,54.46,88,0,5.97,RU,1659114136

# Humidity Heat Map

In [16]:
#configure gmaps
gmaps.configure(api_key=g_key)

In [17]:
# create heat map
locations = city_data_df[["Lat", "Long"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure()

#add the layer 
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=5)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

# Create new DataFrame fitting weather criteria

In [18]:
#drop data where weather is not ideal
idealWeatherDF = city_data_df.loc[
    (city_data_df["Max Tem"]>70) & (city_data_df["Max Tem"]<80) & \
    (city_data_df["Wind Speed"]<10) & \
    (city_data_df["Cloudiness"] ==0)
].dropna()

#display
idealWeatherDF.head()

,City_ID,Unnamed: 0,City,Lat,Long,Max Tem,Humidity,Cloudiness,Wind Speed,Country,Date
45,45,45,Vila,42.0304,42.0304,77.70,44,0,7.56,PT,1659114164
157,157,157,Lagoa,39.0500,39.0500,72.48,72,0,1.77,PT,1659113980
188,188,188,Rawlins,41.7911,41.7911,74.35,38,0,3.44,US,1659114256
206,206,206,Erzin,36.9559,36.9559,79.57,60,0,4.99,TR,1659114268
217,217,217,Cangzhou,38.3167,38.3167,76.23,86,0,4.07,CN,1659114276

#  Hotel Map

In [19]:
hotel_df= idealWeatherDF[["City", "Country", "Lat", "Long"]]
hotel_df["Hotel Name"] = ""
hotel_df

C:\Users\danie\AppData\Local\Temp\ipykernel_26188\1889147813.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df["Hotel Name"] = ""

              City Country      Lat     Long Hotel Name
45            Vila      PT  42.0304  42.0304
157          Lagoa      PT  39.0500  39.0500
188        Rawlins      US  41.7911  41.7911
206          Erzin      TR  36.9559  36.9559
217       Cangzhou      CN  38.3167  38.3167
263        Gucheng      CN  35.9115  35.9115
272  Makakilo City      US  21.3469  21.3469
374         Linfen      CN  36.0889  36.0889
394        Dingtao      CN  35.0683  35.0683
420       Nanakuli      US  21.3906  21.3906
455       Goderich      CA  43.7501  43.7501

In [23]:
#perform hotel search
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}
#loop through the df using iterrows
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    long = row["Long"]
    
    #use the lat and long to se the locations value in the parameters
    params["location"] = f"{lat}, {long}"
    
    #use the google apis places base url to search
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    #make request and print the url
    name_address = requests.get(base_url, params = params).json()
    
    #see what the api is going to return
    try:
        #populate the hotel name
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except:
        print(f"Error finding lodging in {row['City']}. Skipping...")
        pass
    
hotel_df

Error finding lodging in Makakilo City. Skipping...
Error finding lodging in Dingtao. Skipping...
Error finding lodging in Nanakuli. Skipping...
Error finding lodging in Goderich. Skipping...

              City Country      Lat     Long                        Hotel Name
45            Vila      PT  42.0304  42.0304  ტაბერნე გურიაᲨი TABERNE in guria
157          Lagoa      PT  39.0500  39.0500           Ulukale Koyu Muhtarligi
188        Rawlins      US  41.7911  41.7911                          GB Hotel
206          Erzin      TR  36.9559  36.9559              Kızılkent Zeynel A.Ş
217       Cangzhou      CN  38.3167  38.3167                   Grand Has Hotel
263        Gucheng      CN  35.9115  35.9115                         شط الارمن
272  Makakilo City      US  21.3469  21.3469
374         Linfen      CN  36.0889  36.0889   Cennette bir yer... Tahta villa
394        Dingtao      CN  35.0683  35.0683
420       Nanakuli      US  21.3906  21.3906
455       Goderich      CA  43.7501  43.7501

In [25]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Long"]]

In [27]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content= hotel_info)
fig.add_layer(marker_layer)


# Display figure
fig

Figure(layout=FigureLayout(height='420px'))